@charset "utf-8";

@font-face {
    font-family: fonte1;
    src: url(fonte/Stone\ Crusher\ PERSONAL\ USE\ ONLY!.ttf);
}

body{
    background-image: url(https://wallpapercrafter.com/desktop/113105-Avatar-anime-map-landscape.jpg);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 1450px 800px;
}
.quiz-container{
    max-width: 600px;
    margin: 0 auto;
    margin-top: 150px;
    color: #ffffff;
    text-shadow: 8px 10px 8px black;
}

#pergunta{
    font-size: 24px;
    margin-bottom: 20px;
    background: #6e6e6e;
}

#opcoes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

button{
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}

.correto{
    background-color: #0fb817;
}

.Incorreta{
    background-color: #ff0000;
}

footer{
    margin-top: 400px;
    background: #6e6e6e;
  }

  h1{
    font-family: fonte1;
    background: #6e6e6e;
  }


  